*{
    margin: 0px 0px;
    padding: 0px 0px;
}

#main{
    /* background-color: rgb(19, 19, 19); */
    color: blanchedalmond;
    height: 100vh;
    
    background: url(img/Jarvis3.jpg) no-repeat center;
    background-size: cover;
}
.logo, .head, .formtext{
    display: block;
}

.logo{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

.head{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin-bottom: 5%;
    display: block;
    /* text-shadow: 2px 5px 10px rgb(236, 108, 2); */
    color: white;
    text-decoration: underline white;
    font-family: 'Russo One', sans-serif;    
}

#centerbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.forms{
    /* background: url(img/login.png);
    background-repeat: no-repeat;
    background-size: cover; */

    background: rgba(255,255,255,0.2);
    width: 50%;
    height: 60vh;
    text-align: center;
    padding-top: 2%;
    border-radius: 10px;
    box-shadow: 0 0 50px #fff;
}

.formtext{
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: left;
    margin-left: 34%;
    color: #fff;
     font-family: 'Play', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

i{
    color: #fff;
}

input{
    width: 35%;
    margin: 5px 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border: 0px 0px;
    outline: none;
    border-width: 0px;
    border-bottom: 2px solid white;
    background-color: transparent;
    color:#fff;
}
#btn{
    display: block;
    margin-top: 5%;
    margin-left: 45%;
    font-size: 20px;
    padding: 5px 20px;
    background-color: rgba(255,255,255,0.1);
    border: 2px solid #fff;
    color: white;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #fff;
    transition: all .3s ease;
}

#btn:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 10px #000 ;
}

::placeholder {
  color: white;
  opacity: 1;
}


.login{
    margin-top: 50px;
    font-size: 18px;
}